# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
SimpleSaberUnity/[Ll]ibrary/
SimpleSaberUnity/[Tt]emp/
SimpleSaberUnity/[Oo]bj/
SimpleSaberUnity/[Bb]uild/
SimpleSaberUnity/[Bb]uilds/
SimpleSaberUnity/[Ll]ogs/
SimpleSaberUnity/[Uu]ser[Ss]ettings/


.vs/
.vsconfig


.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

